{% for commentaire in commentaires %}
    {{ commentaire.contenu }}
    {{ commentaire.auteur.pseudo }}
{% if commentaire.valide == false %}
    <a href="/valide/{{ commentaire.id }}"><button content="Valider">Valider</button></a>
{% else %}
    <a href="/invalide/{{ commentaire.id }}"><button content="Invalider">Invalider</button></a>
{% endif %}
    <a href="/delete/comment/{{ commentaire.id }}/{{ token }}"><button content="Supprimer">Supprimer</button> </a>
{% endfor %}